body{
    background-color: orange;
}
.h1{
    font: size 30px;
    font font-weight: 900;
    font-color: green;
}
.contacts{
    color:black;
}
h1{
    color: darkblue;
}
.about{
    background-color: green;
}
h1{
    color: black;
}
body{
    text-align:center;
}
img {
    float: left;
}
.about{
    background-color: darkolivegreen;
}
h5{
    color:blue
    font-size:200px 
}
p {
    font-family: Arial;
}
.h2{
    line-height:50px;
}
.about{
    line-height: 60px;
}